<!-- Bottom Nav Bar -->
<nav class=" fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text" style="text-align: center; line-height: 2px">&copy; Copyright 2023. All Rights reserved.
        &#160&#160Created by Abdullah Haddad</h6>
    <p class="navbar-text" style="text-align: center; line-height: 2px">Contact at <a href="mailto:Abdullah.Haddad@ontariotech.net" target="_blank">Abdullah.Haddad@ontariotech.net</a>
        &#160&#160If you have any further concerns</p>
</nav>