<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"> Welcome to the <%= title %></h1>
      <p style="font-size: 25px; color: rgb(46, 4, 252);">
        To add/ delete/ or view the list of products
        <br>in your shopping cart then head over
        
        <% if(title == "Product List") { %>
          <a class="nav-link active" href="/shoppinglist">
        <% } else { %> 
          <a class="nav-link" href="/shoppinglist">
        <% } %>
          to the <i class="fa-solid fa-cart-shopping"></i> Shopping List page</a>
      </p>

    </div>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>